$primary-color:#666565;
$orange-color:#FEA116;
// $orange-color-hover:#feaa2d;
$orange-color-hover:#e67e22;
$orange-border-color:#FEA116;
$orange-border-color-hover:#feaa2d;

$darkblue-color :#0F172B;
$white-color :#fff;
$light-gray-color:#dee2e6;
$black-color:#000;
