.slider{
    background-image: url(../../images/slide1.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 160px);
    position: relative;
    .search-panel{
        background-color: $white-color;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
        @extend .p-30;
        position: absolute;
        bottom: -60px;
        width: 100%;
        // left:0;
        // right:0;
        z-index: 100;
        &__container{
            @include flex-container;
        }
    
    }
}